.flash-box
  新着メッセージ
.wallpaper
  .chat-side
    .side-header
      %p.side-header__user-name
        test_user
      %ul.user-menu
        %li.user-menu__edit-user
          = fa_icon 
        %li.user-menu__new-group
          = fa_icon
    .groups








